body {
    font-family: Arial, sans-serif;
    background-color: #007BFF; 
    margin: 0;
    padding: 0;
}


.container {
    width: 60%;
    margin: 50px auto;
    text-align: center;
}

h1, .add-post-link {
    color: rgb(136, 36, 36); 
    text-align: center;
}

.add-post-link {
    display: inline-block;
    margin-bottom: 30px;
    padding: 10px 20px;
    background-color: #0056b3; 
    color: rgb(161, 61, 61);
    text-decoration: none;
    border-radius: 5px;
}

.add-post-link:hover {
    background-color: #004494;
}


.post {
    background-color: white; 
    color: black;
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.post h2 {
    margin-top: 0;
}
